
.Table-header {
    background-color: #ccc;
    color: blue;
    text-align: center;
    width:  300px;
    height: 150px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:26px;
}

.TableHeaderColumn {
    background-color: sandybrown;
    text-align: center;
    width:  300px;
    margin-left: 30px;
}

.GeorgeMichael-Row {
    background-color: plum;
}

.Other-Row {
    background-color: greenyellow;
}